/*-------------------------------- Elements ---------------------------------*/
li {
    padding: 0.5em;
    text-align: center;
    /*display: flex;
    flex-direction: column;
    text-align: center;*/
}

button {
    font-size: 2rem;
    margin-top:1em;
    color: white;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

/*--------------------------------- Classes -----------------------------------*/
.navBar {
    width:100%;
    background-color: gray;
    color: white;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
}


.links {
    height: 0;
    overflow: hidden;
    list-style-type: none;
    font-size: 1em;
    /*font-weight: bold;*/
    
}

.show-nav {
    height: 100%;
}

/*-------------------------------------------- Media screen size -----------------------------*/

@media screen and (min-width: 768px) {

      button {
        display: none;
      }
      .links {
        height: auto;
        display: flex;
        justify-content: center;
        font-size: 0.8em;
      }
      .navBar {
        width:100%;
        background-color:gray;
        color: white;
        padding: 0.5em;
      }
      li {
        padding: 0 1em;
      }
}
